doctype html
html
    head
        mata(charset='utf-8')
    body
        h1
            a(herf='/xmltoxlsx') Convert XML To Xlsx...

    article
        

        form(action="/xmltoxlsx", method='post')
            p
                textarea(name='content' cols='50' rows='15' ) 여기에 xml을 입력시고 아래 버튼을 누르시면 변형된 xlsx파일이 다운 됩니다.
            p
                input(type='submit', value='Convert')


